    :root{
        --direction: row;
        --arrow_rotation: -90deg;
    }

    @media (max-width:800px){
        :root{
            --direction: column;
            --arrow_rotation: 0deg;
        }
    }

    body{

        background: #82A7A6;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: var(--direction);
        font-family: 'Oswald', sans-serif;
        color: white;
    }


    #content{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 5s;
    }
    #content a{
        width: 300px;
        text-align: center;

    }

    #bulb{
        font-size: 200px;
        transform: scale(1.1);
        margin: 30px;
        animation-name: lighting;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    #arrow{
        display: flex;
        justify-content: center;
        
        font-size: 80px;
        padding: 40px;
        transform: rotate(var(--arrow_rotation));
        width: 200px;
        transition: 1s;
    
    }
    #contacts{
        text-align: center;
        transition: 5s;
    }


    @keyframes lighting {
        0%{
            color: white;
        }
        50%{
            color: #fdfe7f;
        }
        100%{
            color:white;
        }
    }







